# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/

# Ignore Rstudio project files
*.Rproj

# Ignore everything in archive
archive*

# Ignore local files
__pycache__/*
.ipynb_checkpoints/*
.DS_Store

# Ignore the downloaded functions
R/Preprocess.R

# Ignore everything in doc
doc/*

# Ignore data
data/*
inst/extdata/*
input/*
output/*
pcd2_sub1/*
pcd2_sub2/*
pcd2_sub3/*

# But don't ignore some data
!inst/extdata/syn59834055.csv
!inst/extdata/Sample_annotation.csv
!data/ano_ori.rds
!data/df_train_colnames.rds
!inst/extdata/ano_ori_chars_new_colnames.csv
!inst/extdata/ano_ori_chars_new_cats.csv
!inst/extdata/ano_ori_chars_new_conditions.csv
!data/ano_ori_chars.rds
!inst/extdata/fgr_dmp.csv
!data/fgr_imp_set_rownames.rds
!inst/extdata/fgr_imp_predictions.csv
!inst/extdata/pe_dmp.csv
!data/pe_imp_set_rownames.rds
!inst/extdata/pe_imp_predictions.csv
!inst/extdata/pe_onset_dmp.csv
!data/pe_onset_imp_set_rownames.rds
!inst/extdata/pe_onset_imp_predictions.csv
!inst/extdata/hellp_dmp.csv
!data/hellp_imp_set_rownames.rds
!inst/extdata/hellp_imp_predictions.csv
!inst/extdata/diandric_triploid_dmp.csv
!data/diandric_triploid_imp_set_rownames.rds
!inst/extdata/diandric_triploid_imp_predictions.csv
!inst/extdata/miscarriage_dmp.csv
!data/miscarriage_imp_set_rownames.rds
!inst/extdata/miscarriage_imp_predictions.csv
!inst/extdata/preterm_dmp.csv
!data/preterm_imp_set_rownames.rds
!inst/extdata/preterm_imp_predictions.csv
!inst/extdata/gdm_dmp.csv
!data/gdm_imp_set_rownames.rds
!inst/extdata/gdm_imp_predictions.csv
!inst/extdata/sga_dmp.csv
!data/sga_imp_set_rownames.rds
!inst/extdata/sga_imp_predictions.csv
!inst/extdata/lga_dmp.csv
!data/lga_imp_set_rownames.rds
!inst/extdata/lga_imp_predictions.csv
!inst/extdata/slga_dmp.csv
!data/slga_imp_set_rownames.rds
!inst/extdata/slga_imp_predictions.csv
!inst/extdata/ivf_dmp.csv
!data/ivf_imp_set_rownames.rds
!inst/extdata/ivf_imp_predictions.csv
!inst/extdata/subfertility_dmp.csv
!data/subfertility_imp_set_rownames.rds
!inst/extdata/subfertility_imp_predictions.csv
!inst/extdata/chorioamnionitis_dmp.csv
!data/chorioamnionitis_imp_set_rownames.rds
!inst/extdata/chorioamnionitis_imp_predictions.csv
!data/ano_ori_ga_conds.rds
!data/ano_ori_ga_non_conds.rds
!data/var_ga.rds
!data/ga_est_set_rownames.rds
!inst/extdata/ga_dmp.csv
!inst/extdata/ga_est_predictions.csv
!inst/extdata/ga_est_coefficients.csv
!data/fgr_pred_set_rownames.rds
!inst/extdata/fgr_pred_prob.csv
!inst/extdata/fgr_pred_coefficients.csv
!data/pe_pred_set_rownames.rds
!inst/extdata/pe_pred_prob.csv
!inst/extdata/pe_pred_coefficients.csv
!data/pe_onset_pred_set_rownames.rds
!inst/extdata/pe_onset_pred_prob.csv
!inst/extdata/pe_onset_pred_coefficients.csv
!data/hellp_pred_set_rownames.rds
!inst/extdata/hellp_pred_prob.csv
!inst/extdata/hellp_pred_coefficients.csv
!inst/extdata/anencephaly_dmp.csv
!data/anencephaly_pred_set_rownames.rds
!inst/extdata/anencephaly_pred_prob.csv
!inst/extdata/anencephaly_pred_coefficients.csv
!inst/extdata/spina_bifida_dmp.csv
!data/spina_bifida_pred_set_rownames.rds
!inst/extdata/spina_bifida_pred_prob.csv
!inst/extdata/spina_bifida_pred_coefficients.csv
!data/diandric_triploid_pred_set_rownames.rds
!inst/extdata/diandric_triploid_pred_prob.csv
!inst/extdata/diandric_triploid_pred_coefficients.csv
!data/miscarriage_pred_set_rownames.rds
!inst/extdata/miscarriage_pred_prob.csv
!inst/extdata/miscarriage_pred_coefficients.csv
!data/preterm_pred_set_rownames.rds
!inst/extdata/preterm_pred_prob.csv
!inst/extdata/preterm_pred_coefficients.csv
!data/gdm_pred_set_rownames.rds
!inst/extdata/gdm_pred_prob.csv
!inst/extdata/gdm_pred_coefficients.csv
!data/lga_pred_set_rownames.rds
!inst/extdata/lga_pred_prob.csv
!inst/extdata/lga_pred_coefficients.csv
!data/subfertility_pred_set_rownames.rds
!inst/extdata/subfertility_pred_prob.csv
!inst/extdata/subfertility_pred_coefficients.csv
!data/chorioamnionitis_pred_set_rownames.rds
!inst/extdata/chorioamnionitis_pred_prob.csv
!inst/extdata/chorioamnionitis_pred_coefficients.csv
!data/ga_resfull_est_set_rownames.rds
!inst/extdata/ga_resfull_est_predictions.csv
!data/ga_resfull_rf_est_set_rownames.rds
!inst/extdata/ga_resfull_rf_est_predictions.csv
!inst/extdata/ga_res_conds_fgr_dmp.csv
!data/ga_res_conds_fgr_est_set_rownames.rds
!inst/extdata/ga_res_conds_fgr_est_predictions.csv
!inst/extdata/ga_res_conds_fgr_est_coefficients.csv
!inst/extdata/ga_res_conds_pe_dmp.csv
!data/ga_res_conds_pe_est_set_rownames.rds
!inst/extdata/ga_res_conds_pe_est_predictions.csv
!inst/extdata/ga_res_conds_pe_est_coefficients.csv
!inst/extdata/ga_res_conds_pe_onset_dmp.csv
!data/ga_res_conds_pe_onset_est_set_rownames.rds
!inst/extdata/ga_res_conds_pe_onset_est_predictions.csv
!inst/extdata/ga_res_conds_pe_onset_est_coefficients.csv
!inst/extdata/ga_res_conds_hellp_dmp.csv
!data/ga_res_conds_hellp_est_set_rownames.rds
!inst/extdata/ga_res_conds_hellp_est_predictions.csv
!inst/extdata/ga_res_conds_hellp_est_coefficients.csv
!inst/extdata/ga_res_conds_anencephaly_dmp.csv
!data/ga_res_conds_anencephaly_est_set_rownames.rds
!inst/extdata/ga_res_conds_anencephaly_est_predictions.csv
!inst/extdata/ga_res_conds_anencephaly_est_coefficients.csv
!inst/extdata/ga_res_conds_spina_bifida_dmp.csv
!data/ga_res_conds_spina_bifida_est_set_rownames.rds
!inst/extdata/ga_res_conds_spina_bifida_est_predictions.csv
!inst/extdata/ga_res_conds_spina_bifida_est_coefficients.csv
!inst/extdata/ga_res_conds_diandric_triploid_dmp.csv
!data/ga_res_conds_diandric_triploid_est_set_rownames.rds
!inst/extdata/ga_res_conds_diandric_triploid_est_predictions.csv
!inst/extdata/ga_res_conds_diandric_triploid_est_coefficients.csv
!inst/extdata/ga_res_conds_miscarriage_dmp.csv
!data/ga_res_conds_miscarriage_est_set_rownames.rds
!inst/extdata/ga_res_conds_miscarriage_est_predictions.csv
!inst/extdata/ga_res_conds_miscarriage_est_coefficients.csv
!inst/extdata/ga_res_conds_preterm_dmp.csv
!data/ga_res_conds_preterm_est_set_rownames.rds
!inst/extdata/ga_res_conds_preterm_est_predictions.csv
!inst/extdata/ga_res_conds_preterm_est_coefficients.csv
!inst/extdata/ga_res_conds_gdm_dmp.csv
!data/ga_res_conds_gdm_est_set_rownames.rds
!inst/extdata/ga_res_conds_gdm_est_predictions.csv
!inst/extdata/ga_res_conds_gdm_est_coefficients.csv
!inst/extdata/ga_res_conds_lga_dmp.csv
!data/ga_res_conds_lga_est_set_rownames.rds
!inst/extdata/ga_res_conds_lga_est_predictions.csv
!inst/extdata/ga_res_conds_lga_est_coefficients.csv
!inst/extdata/ga_res_conds_subfertility_dmp.csv
!data/ga_res_conds_subfertility_est_set_rownames.rds
!inst/extdata/ga_res_conds_subfertility_est_predictions.csv
!inst/extdata/ga_res_conds_subfertility_est_coefficients.csv
!inst/extdata/ga_res_conds_chorioamnionitis_dmp.csv
!data/ga_res_conds_chorioamnionitis_est_set_rownames.rds
!inst/extdata/ga_res_conds_chorioamnionitis_est_predictions.csv
!inst/extdata/ga_res_conds_chorioamnionitis_est_coefficients.csv
!data/ga_res_conds_pred_est_set_rownames.rds
!inst/extdata/ga_res_conds_pred_est_predictions.csv
!inst/extdata/ga_res_comb_pr_dmp.csv
!data/ga_res_comb_pr_est_set_rownames.rds
!inst/extdata/ga_res_comb_pr_est_predictions.csv
!inst/extdata/ga_res_comb_pr_est_coefficients.csv
!inst/extdata/ga_res_comb_tb_dmp.csv
!data/ga_res_comb_tb_est_set_rownames.rds
!inst/extdata/ga_res_comb_tb_est_predictions.csv
!inst/extdata/ga_res_comb_tb_est_coefficients.csv
!inst/extdata/ga_res_comb_ta_dmp.csv
!data/ga_res_comb_ta_est_set_rownames.rds
!inst/extdata/ga_res_comb_ta_est_predictions.csv
!inst/extdata/ga_res_comb_ta_est_coefficients.csv
!inst/extdata/ga_res_comb_est_coefficients.csv
!inst/extdata/leaderboard_best.csv
!inst/extdata/submission_info.csv
!inst/extdata/leaderboard_performance.csv
!data/ga_450k_est_eval.rds
!data/ga_450k_est_set_rownames.rds
!data/ga_res_comb_450k_est_eval.rds
!data/ga_res_comb_pr_450k_est_set_rownames.rds
!data/ga_res_comb_ta_450k_est_set_rownames.rds
!data/ga_res_comb_tb_450k_est_set_rownames.rds
!data/ga_res_conds_pred_450k_est_eval.rds
!data/ga_res_conds_pred_450k_est_set_rownames.rds
!data/ga_resfull_rf_450k_est_eval.rds
!data/ga_resfull_rf_450k_est_set_rownames.rds
!inst/extdata/ga_450k_est_predictions.csv
!inst/extdata/ga_res_comb_pr_450k_est_predictions.csv
!inst/extdata/ga_res_comb_ta_450k_est_predictions.csv
!inst/extdata/ga_res_comb_tb_450k_est_predictions.csv
!inst/extdata/ga_res_conds_pred_450k_est_predictions.csv
!inst/extdata/ga_resfull_rf_450k_est_predictions.csv
!data/Sample_IDs.rds
!data/probe_info*
!pcd2_sub1/Dockerfile
!pcd2_sub1/data_preprocessing.R
!pcd2_sub1/run_model_stage*
!pcd2_sub1/utils*
!pcd2_sub2/Dockerfile
!pcd2_sub2/data_preprocessing.R
!pcd2_sub2/run_model_stage*
!pcd2_sub2/utils*
!pcd2_sub3/Dockerfile
!pcd2_sub3/data_preprocessing.R
!pcd2_sub3/run_model_stage*
!pcd2_sub3/utils*
